<h1>Region Info:</h1>
<ul>
    <li>ID: @Model.RegionId</li>
    <li>Name: @Model.Name</li>
</ul>
<br>

<a href="/Regions/Edit/@(Model.RegionId)"><p>Edit</p></a>
<br>

<a href="/Regions"><p>Return</p></a>

<a href="/Regions/Delete/@(Model.RegionId)"><p>Delete region</p></a>