@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.ActionLink("See all parks", "Index", "Parks")
    @Html.ActionLink("See all regions", "Index", "Regions")
    @Html.ActionLink("Account", "Index", "AppUsers")
</div>
